#wrapper {
    width: 80%;
    margin: 0 auto;
    padding:0;
}

#navbar {
	float:left;
}

.btn-primary {
	border-color: black;
	background-color: grey;
}

.btn-primary:hover {
		border-color: pink;
		background-color: yellow;
}

.btn-primary:active:focus {
		border-color: pink;
		background-color: yellow;
}

.box {
	padding: 0 5px 0 5px;
}

.box .inner {
	background-color: #fff;
}

header{
    height:100px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:dimgrey;
    color:orangered;
}


.right{
    float:right;
    margin:10px;	
}

.form-inline {
	float:right;
}

.carousel-caption {
text-align:left;
left:0;
}

#myCarousel {
	width:800px;
	display:block;
	margin: 0 auto;
}


main {
	color: darkslategray;
	border: 2px solid darkgray;
	border-radius: 10px;
	padding: 10px;
	min-height: 500px;
	height: auto;
}

ul {
	list-style-type: none;
}

.footer{
color: black;
}

.error {
color: red;
}

.register {
float: right;
margin-right: 5px;
}

 .register:link {
color: white;
}

.register:visited {
color: lightgreen;
}

