@model IEnumerable<SampleTemplate.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Games in Stock</h2>
@foreach (var book in Model)
{
    <section>
        <img alt="@book.Title" src="~/Content/Images/smallgame.jpg" width="100" height="100"/>
        <h4>
            @book.Title<br />
            ISBN: @book.ISBN
        </h4>
        <h4>Price: &euro;@book.Price</h4>
        <hr />
    </section>
}

