
@{
    ViewBag.Title = "Index";

}

<h2>Welcome to Gaming</h2>
<p>Explore an instant collection of 75+ PC games and play as much as you want. Origin Access members also get to try new EA games before they’re released and save 10% on Origin purchases.</p>
<p>Jus €10 a month. Cancel anytime</p>
<p>	Unlimited access to full PC games

	Download and play an instant collection of 75+ great PC titles.
	Dive into blockbuster hits from franchises like Battlefield, FIFA, Dragon Age, The Sims, and many more. See all games.
	Explore indie favorites including Torchlight II, The Banner Saga, and Mini Metro.
	More games are added over time.</p>

<a href="#" class="btn btn-info" role="button">Join Now</a>

