
@{
    ViewBag.Title = "Index";

}
<h2>New Releases Available to Play</h2>
@*w3schools*@

<div class="row">
	<div class="col-sm-8">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
<!-- Idea: will I change this to a foreach loop of the games images? -Cathal -->
			<div class="carousel-inner">
				<div class="item active">
					<img class="carousel-image" src="~/Content/Images/Prey.jpg" alt="Prey">
					<div class="carousel-caption">
						<h3>Prey</h3>
						<p>Available to Play Now!</p>
					</div>
				</div>
				<div class="item">
					<img class="carousel-image" src="~/Content/Images/titanfall2.jpg" alt="Titanfall 2 ">
					<div class="carousel-caption">
						<h3>Titanfall 2</h3>
						<p>Available to Play Now!</p>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		@Html.Action("Index", "RSS")
	</div>
	@*<p>
		New Releases
	</p>
	<p>
		Join Now
	</p>*@
</div>
<h2>Welcome to Gaming</h2>
<p>Explore an instant collection of 75+ PC games and play as much as you want. Force Gaming members also get to try new  games before they’re released.</p>
<p>Just €10 a month. Cancel anytime!</p>
<p>	Unlimited access to full PC games

	Download and play an instant collection of 75+ great PC titles.
	Dive into blockbuster hits from franchises like Battlefield, FIFA, Dragon Age, The Sims, and many more. See @Html.ActionLink("all games", "Index", "Games").
	Explore indie favorites including Torchlight II, The Banner Saga, and Mini Metro.
	More games are added over time.</p>



@Html.ActionLink("Sign Up", "Index", "Register", null, new { @class = "btn btn-primary btn-large"})