#wrapper {
    width: 80%;
    margin: 0 auto;
    padding:0;
}

#navbar {
	float:left;
}


header{
    height:100px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:dimgrey;
    color:orangered;
}


.right{
    float:right;
    margin:10px;
}

.form-inline {
	float:right;
}

main{
    color:darkslategray;
    border:2px solid darkgray;
    border-radius:10px;
    padding:10px;
    min-height:500px;
    height:auto;
}

footer{
    text-align:center;
    
}