@model IEnumerable<SampleTemplate.Models.UserModel>
@{
	Layout = null;
    ViewBag.Title = "Friend View";
}

<div>

	@foreach (var user in Model)

	{
		<div class="col-sm-3">
			<p> @user.Username</p>

		</div>}
</div>

