@model IEnumerable<SampleTemplate.Models.Game>
@{
	ViewBag.Title = "Index";
}

<h2>Account Information</h2>
<section>
	<span>Membership expires on @Session["renew"]</span>
	<div class="row">
		@Html.ActionLink("Display Library", "DisplayLibraryGames", "MemberPage", new { email = Session["email"] }, null)

		@if (Model != null)
		{

			foreach (var game in Model)

			{
				<div class="col-sm-3">
					@*<img src="~/Content/Images/@game.GameImage" alt="@game.Title" />*@
					<p> @game.Title</p>

				</div>}

		}


			</div>

</section>

