@using System.Xml
@{
	Layout = null;
}

	<div id="rss1">
		<h2>@ViewBag.Title</h2>
		@foreach (XmlNode node in (XmlNodeList)ViewBag.List)
		{
			if (node.Name == "item")
			{
				<h3><a href=@node["link"].InnerText alt=@node["title"].InnerText>@node["title"].InnerText</a></h3>
				<p>@node["description"].InnerText</p>
			}
		}
	</div>
