
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>

<p>
	<strong>Force Gaming&trade;</strong> has been making a quality gaming experience
	accessible to the masses since its foundation in 2017.
</p>
<p>
	Instead of forking out for a game based only on their ads, <strong>Force Gaming&trade;</strong>
	subscribers have access to the very latest games for no extra cost! Browse our extensive catalogue by name or by genre,
	download as many games as your hard drive can hold, and play for as long as you like, all without paying anything
	above your subscription.
</p>
<p>
	Can't find a game you want? Simply recommend it to us in our Contact Us section and we will get straight to work
	on adding it to our library, just for you.
</p>
