#wrapper {
    width: 80%;
    margin: 0 auto;
    padding:0;
}

header{
    height:100px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:green;
    color:lightyellow;
}

.right{
    float:right;
    margin:10px;
}

nav{
    height:25px;
    background-color:lightgreen;
    padding-top:0.5px;
    padding-bottom:15px;
}

nav ul{
    list-style-type:none;
}

nav ul li{
    display:inline;
    margin-left:10px;
}

nav ul li a:link{
    color:darkgreen;
    text-decoration:none;
}

nav ul li a:visited{
    color:red;
}

/*Styling for 2nd level navigation*/
nav li ul{
    display:none;
    position:absolute;
}
nav li:hover ul{
    display:block;
}

nav li:hover{
    background-color:lightgreen;
}

main{
    color:darkslategray;
    border:2px solid darkgray;
    border-radius:10px;
    padding:10px;
    min-height:500px;
    height:auto;
}
footer{
    text-align:center;
    
}

label:after {
    content: "\A";
    white-space:pre;
}

.error {
    color:red;
}

.register{
    float:right;
    margin-right:5px;
}
.register:link{
    color:white;
}
.register:visited{
    color:lightgreen;
}
